<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:page xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="card">
            <h2 class="card-header bg-primary text-center">Vous tombez mal là</h2>
            <div class="card-body">
                <h>Vous etes pas autorizez à acceder à cette page</h>
            </div>
               
        </div>
    </div>
</body>

</html>