<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org" xmlns:page
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Css/bootstrap.min.css" th:href="@{Css/bootstrap.min.css}">
    <title>Matchs</title>
</head>
<body>
    <div layout:fragment="content" >

        <table class="table  ">
            <thead>
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Equipees</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Arbitre</th>
                    <th scope="col">Stade</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mat:${lesMatchs}" >
                    <td th:text="${mat.idMatch}"></td>
                    <td th:text="${mat.equipes}"></td>
                    <td th:text="${mat.dateMatch}"></td>
                    <td th:text="${mat.heureMatch}"></td>
                    <td th:text="${mat.arbitre.nomArbitre}"></td>
                    <td th:text="${mat.stade.nomStade}"></td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>