<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Css/bootstrap.min.css" th:href="@{Css/bootstrap.min.css}">
    <title>Joueurs</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <h2 class="card-header bg-primary text-center" >Les Joueurs</h2>
        <div class="card-body">
           
            <div class="d-flex flex-row justify-content-between " >
                <a th:href="@{/addjoueur}" class="btn btn-primary m-1">Ajouter un Joueur</a>
                <form th:action="@{/joueur}" method="get" >
                    <input  type="text" placeholder="Search" name="motCle">
                    <button class="btn btn-primary" type="submit"  >chercher</button>
                </form>
            </div>

            <table class="table  ">
                <thead>
                <tr class="table-dark ">
                    <th scope="col">ID</th>
                    <th scope="col">Nom Joueur</th>
                    <th scope="col">Poste du Joueur</th>
                    <th scope="col">Equipe du Joueur</th>
                    <th scope="col" >Options</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="jou:${lesJoueurs}" class="table-secondary">
                    <td th:text="${jou.idJoueur}">
                    <td th:text="${jou.nomJoueur}">
                    <td th:text="${jou.posteJoueur}">
                    <td th:text="${jou.equipes.nomEquipe}">
                    <td th:text="Delete">
                </tr>

                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Page</a></li>

                    <li th:each="page,status:${pages}" th:class="${currentPage==status.index? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:text="${status.index} " th:href="@{/joueur(page=${status.index})} "></a>
                    </li>


                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>