<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:page
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Css/bootstrap.min.css" th:href="@{Css/bootstrap.min.css}">
    <title>Layout</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">CAN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Matchs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/equipe}">Equipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/joueur}">Joueurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stade}">Stades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/arbitre}">Arbitre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user}">Users</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="d-flex flex-row me-3 ">
            <a class="btn btn-primary me-2 " th:href="@{/userLogin}" role="button" aria-haspopup="true" aria-expanded="false">
                Connexion
            </a>
            <a class="btn btn-danger " th:href="@{/logout}" role="button" aria-haspopup="true" aria-expanded="false">
                Deconnexion
            </a>
        
            
        </div>
    </nav>
    <div class="container">
        <section>
            <div layout:fragment="content">

            </div>
        </section>
    </div>
</body>
</html>