<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:page>
<head>
    <meta charset="UTF-8">
    <title>DocRaf</title>
    <link rel="stylesheet" href="../static/Css/bootstrap.min.css" th:href="@{Css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Les Produits
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr class="thead-dark">
                        <th>ID</th>
                        <th>Designation</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                    </tr>

                    <tr th:each="p:${lesProduits}" class="table-secondary">
                        <td th:text="${p.idProd}"></td>
                        <td th:text="${p.designationProd}" ></td>
                        <td th:text="${p.prixProd}"></td>
                        <td th:text="${p.quantiteProd}" ></td>
                    </tr>
                    </table>
                <ul class="nav nav-pills">
                    <li th:class="${currentPage==status.index? 'active' : ''}"  th:each="page,status:${pages}">
                        <a th:href="@{/index(page=${status.index})} "  th:text="${status.index} "></a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</body>
</html>